<html lang="en">
<title>Purge your Twitter followers</title>

<h1>Yo, it's Volgnie</h1>

<% if has_flash_error %>
  <div>
    Error: <%= get_flash_error %>
  </div>
<% end %>


<% if current_user %>
  <div>
    You're currently signed in as <b><%= current_user["username"] %>.</b>
  </div>
  <div>
    <a href="/purge/start">Start Purge</a>
  </div>
<% end %>

<div>
  <form action="/auth/twitter" method="post">
    <input type="hidden" name="authenticity_token" value='<%= csrf_token %>'>

    <div>
      <button type="submit">
        <%= current_user ? "Sign in as a different account" : "Sign in with Twitter" %>
      </button>
    </div>
  </form>
</div>

<% if current_user %>
  <div>
    <form action="/auth/logout" method="post">
      <input type="hidden" name="authenticity_token" value='<%= csrf_token %>'>
      <div>
        <button type="submit">Log out</button>
      </div>
    </form>
  </div>
<% end %>

</html>