<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
      @import url('https://fonts.googleapis.com/css?family=Alata');

      html {
          /* Inspired by https://www.swyx.io/css-100-bytes */
          line-height: 1.75;
          font-size: 1em;
          padding: 1.5em 2em;
          background-color: #181A1B;
      }

      body {
          font-family: 'Alata', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Calibri, sans-serif;
          height: 100%;
          box-sizing: border-box;
          max-width: 70ch;
          color: whitesmoke;
      }

      button {
          font-family: 'Alata', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Calibri, sans-serif;
          padding: 5px 20px;
          font-size: 1em;
          border: 0;
          border-radius: 5px;
          color: whitesmoke;
          text-align: center;
          vertical-align: middle;
          cursor: pointer;
          background-color: #006633;
      }

      input[type="email"] {
          font-family: 'Alata', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Calibri, sans-serif;
          padding: 2px 10px;
          margin-top: 10px;
          font-size: 1em;
          border-color: #006633;
          border-width: 1px;
          border-radius: 5px;
          display: block;
          min-width: 30%;
          background-color: transparent;
      }

      a {
          color: whitesmoke;
      }
  </style>
  <title>Start your purge</title>
</head>
<body>

Hi, @<%= current_user["username"] %>!

<p>
  You have <b><%= current_user["public_metrics"]["followers_count"] %></b> followers.
</p>

<% if current_user["public_metrics"]["following_count"] > 5000 %>
  <p>
    Unfortunately, we can't purge your followers at this time.😢
  </p>

  <p>
    That's because you're <i>following</i> too many people
    (<%= current_user["public_metrics"]["following_count"] %> people),
    and we need to compare each of your followers against this list.
    If you really want to get rid of your followers, you can use one of the tools out there to
    reduce your following first.
  </p>

<% else %>

  <p>
    We'll go through <%= current_user_follower_limit_text %> followers and remove those matching your criteria. Then
    we'll
    send you a report of the followers we removed via email. Ready to begin?
  </p>

  <% if current_user.protected %>

    <h3>Whoops...</h3>

    Unfortunately, your account is <strong>protected</strong>. You'll need to unlock your account for the purge to work.
    You can lock
    your account again when the purge is complete (we'll send you an email).

    <form action="/purge/refresh-account" method="post">
      <input type="hidden" name="authenticity_token" value='<%= csrf_token %>'>
      <br>
      <div>
        <button type="submit">
          I've unlocked my account
        </button>
      </div>
    </form>
  <% else %>
    <form action="/purge/start" method="post">
      <input type="hidden" name="authenticity_token" value='<%= csrf_token %>'>

      <br>
      👉 Choose a purge level:
      <br>
      <label>
        <%= Purge::Criteria::to_text(Purge::Criteria::MUTUAL) %>
        <input type="radio" name="level" value="<%= Purge::Criteria::MUTUAL %>" required>
      </label>
      <br>
      <label>
        <%= Purge::Criteria::to_text(Purge::Criteria::MUST_HAVE_REPLIED_TO) %>
        <input type="radio" name="level" value="<%= Purge::Criteria::MUST_HAVE_REPLIED_TO %>" required>
      </label>
      <br>
      <label>
        <%= Purge::Criteria::to_text(Purge::Criteria::MUST_HAVE_INTERACTED) %>
        <input type="radio" name="level" value="<%= Purge::Criteria::MUST_HAVE_INTERACTED %>" required>
      </label>

      <br>
      <br>
      <em>Note: protected accounts will be removed unless you follow them or have replied to them.</em>
      <br>
      <br>
      <label>
        👉 Where should we send the report to?
        <input type="email" name="email" placeholder="Your email address" required>
      </label>

      <br>
      <% if AppConfig.get(:admins).include? current_user["username"] %>
        <label>
          Simulate?
          <input type="checkbox" name="__simulate" checked>
          <br>
        </label>
      <% end %>

      <br>
      <div>
        <button type="submit">
          Purge my followers
        </button>&nbsp;&nbsp;
        <a href="/">🠐 Go Back</a>
      </div>
    </form>
  <% end %>

<div>
  <br>
  <a href="https://github.com/shalvah/volgnie/" style="font-size: 0.8em;" target="_blank">It's open source🐱</a>
</div>

<% end %>

</body>
</html>