<html lang="en">

<p>
  Hi, <%= current_user["username"] %>!
</p>

<p>
  You have <b><%= current_user["public_metrics"]["followers_count"] %></b> followers.
</p>

<p>
  We'll go through <%= current_user_follower_limit_text %> followers and remove those who haven't interacted with you in
  3 months. Then we'll send you a report of the followers we removed, via email.
</p>

Ready to begin?

<form action="/purge/start" method="post">
  <input type="hidden" name="authenticity_token" value='<%= csrf_token %>'>

  <br>
  Choose a purge level:
  <br>
  <label>
    <%= Purge::Criteria::to_text(Purge::Criteria::MUTUAL) %>
    <input type="radio" name="level" value="<%= Purge::Criteria::MUTUAL %>" required>
  </label>
  <br>
  <label>
    <%= Purge::Criteria::to_text(Purge::Criteria::MUST_HAVE_REPLIED_TO) %>
    <input type="radio" name="level" value="<%= Purge::Criteria::MUST_HAVE_REPLIED_TO %>" required>
  </label>
  <br>
    <label>
      <%= Purge::Criteria::to_text(Purge::Criteria::MUST_HAVE_INTERACTED) %>
    <input type="radio" name="level" value="<%= Purge::Criteria::MUST_HAVE_INTERACTED %>" required>
  </label>

  <br>
  <br>
  Note: protected accounts will be purged unless you follow them or have replied to them.
  <br>
  <br>
  After the purge is done, we'll send you a report of all the followers we removed.
  <label>
    Where should we send the report to?
    <input type="email" name="email" placeholder="Your email address" required>
  </label>

  <br>
  <br>
  <% if AppConfig.get(:admins).include? current_user["username"] %>
    <label>
      Simulate?
      <input type="checkbox" name="__simulate" checked>
    </label>
  <% end %>

  <br>
  <div>
    <button type="submit">
      Purge my followers
    </button>
  </div>
</form>

</html>